fastapi>=0.103.0
uvicorn[standard]>=0.23.2
pydantic>=2.4.2
pydantic-settings
google-cloud-aiplatform
google-genai
ruff
black
v>=1.0.0
pytest>=7.4.2
pytest-asyncio>=0.21.1
httpx>=0.25.0
PyJWT>=2.8.0
bcrypt>=4.0.0
motor>=3.3.1
pymongo[srv]>=4.6.1
python-multipart>=0.0.6
mongomock-motor>=0.0.28
email-validator>=2.1.0
langgraph>=0.0.26
